.login-wrapper{
  width: 32rem;
  margin: 5rem auto;
  padding: 2rem;
  // background-color: #ddd9d9;
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: center;
}
.example-form{
  border-radius: 3rem;
  padding: 2rem;
}
.example-full-width{
  margin-bottom: -22px;
}
.requiredFirld{
  margin-right: 0px;
  text-align: left;
  color: red;
  margin-bottom: 15px;
}