<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header style="margin: auto">
      <mat-card-title>
        <h1>Log in</h1>
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" class="example-form">
      <mat-card-content style="display: flex; flex-direction:column">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input formControlName="UserName" matInput placeholder="Username">
        </mat-form-field>
        <div class="requiredFirld" *ngIf="UserName.errors?.['required'] && (UserName.touched||UserName.dirty)">Username
          required</div>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input formControlName="Password" matInput placeholder="******">
        </mat-form-field>
        <div class="requiredFirld" *ngIf="Password.errors?.['required'] && Password.touched">Password required</div>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="login()"
        style="margin-top: 25px; width:50%;">Log in</button>
    </form>
  </mat-card>
  <div style="margin-top: 1rem;">Don't have account? <span><a routerLink="/Register"
        style="text-decoration: none;color: #ff4081;"><b>Register</b></a></span></div>
</div>